<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Mental HealthCare Chatbot</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/test.css">
    <link rel="stylesheet" type="text/css" href="/static/modal.css">
    <link rel="stylesheet" type="text/css" href="/static/progress.css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet"/>
    <!-- fontawesome cdn -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <!-- Contents -->
    <section class="hero">
      <div class="container">
        <header>
          <div class="logo">
            <h2>MHC</h2>
          </div>
        </header>
  
        <div class="banner">
          <div class="container">
            <div class="details">
              <h1>Mental HealthCare <br /> Consultant</h1>
              <p>Do you or your loved one have symptoms of depression, anxiety and stress? What symptoms are you experiencing? How are you dealing with these emotions? What can you do to improve your mental health?</p>
              <p>Taking a mental health test may be the first step to getting the help you need to lived a fulfilling life with depressive symptoms, whether it is poor mood , lack of sleep, stress or anxiety. Everyone goes through tough times. So if symptoms like these start to get in the way of your life or that of a loved one, IT IS IMPORTANT TO TAKE ACTION</p>
  
                
              <a href="#" id="myBtn" class="btn">Take a Test</a>
              <a href="#" id="helpBtn" class="btn">About</a>
            </div>
  
            <div class="cover">
              <img src="/static/code_thinking.png" alt="cover image">
            </div>
          </div>
        </div>
      </div>
    </section>
  
    
    <!-- CHAT BAR BLOCK -->
      <div class="chat-bar-collapsible">
          <button id="chat-button" type="button" class="collapsible">Chatbot
              <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-robot fa-spin"></i>
          </button>

          <div class="content">
              <div class="full-chat-block">
                  <!-- Message Container -->
                  <div class="outer-container">
                      <div class="chat-container">
                          <!-- Messages -->
                          <div id="chatbox">
                              <h5 id="chat-timestamp"></h5>
                              <p class="botText"><span>Hi! I'm Shannie your mental healthcare companion 🙂. I am here to help and guide you on how to check your mental health condition. But before that you have to answer a few questions.</span></p><br>
                              <p class="botText"><span>Is that okay? <br>(Type 'ok' if you agree)</span></p><br>
                          </div>

                          <!-- User input box -->
                          <div class="chat-bar-input-block">
                              <div id="userInput">
                                  <input id="textInput" class="input-box" type="text" name="msg"
                                      placeholder="Tap 'Enter' to send a message">
                                  <p></p>
                              </div>

                              <div class="chat-bar-icons">
                                  <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-heart"
                                      onclick="heartButton()"></i>
                                  <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                      onclick="getBotResponse()"></i>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <div>
      <!-- The Modals -->
    <div id="myModal1" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <h1>Disclaimer</h1>
        <p>
          This application is for adults only. By clicking the "I Agree" button you ensuring that
          you are 18 years or older. Also you have to agree that this application is for information 
          purposes only and it is not intended to replace a consultation with your doctor or a mental 
          health profesional.<br>Please consult a qualified resource if you believe you may be suffering 
          from a mental health condition. You are encouraged to share your result with a doctor or mental health professional.
        </p>
        <button class="agree">I Agree</button>
      </div>
      
    </div>

    <div id="myModal2" class="modal">
      <div class="modal-content" style="background-color: #2c1657;">
        <h1 id="typeOfTest" >Depression Test</h1>
        <div class="quiz-container details" id="quiz">
        <div class="quiz-header">
          <h2 id="question">Question Text</h2>
          <ul>
            <li>
              <input type="radio" name="answer" id="a" class="answer">
              <label for="a" id="a_text">Answer</label>
            </li>
    
            <li>
              <input type="radio" name="answer" id="b" class="answer">
              <label for="b" id="b_text">Answer</label>
            </li>
    
            <li>
              <input type="radio" name="answer" id="c" class="answer">
              <label for="c" id="c_text">Answer</label>
            </li>
    
            <li>
              <input type="radio" name="answer" id="d" class="answer">
              <label for="d" id="d_text">Answer</label>
            </li>
    
          </ul>
        </div>
    
        <button id="submit">Submit</button>
    
        </div>
      </div>
    </div>

    <div id="myModal3" class="modal">

      <!-- Modal content -->
      <div class="modal-content" style="text-align: center; margin-top: 100px;">
        <h1>Take a Test</h1>
        <div class="row">
          <div class="column">
            <div class="card">
            <h3>ANXIETY</h3>
            <a href="#" id="anx" class="test"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyJiCsNJYP4vLpewN3UrJptgrqeFElAaiP7Q&usqp=CAU" alt="Anxiety"></a>         
            </div>
          </div>
          <div class="column">
            <div class="card">
            <h3>STRESS</h3>
            <a href="#" id="stress" class="test"><img src="https://dynaimage.cdn.cnn.com/cnn/c_fill,g_auto,w_1200,h_675,ar_16:9/https%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F210805164533-stressed-adult-stock.jpg" alt="Stress"></a>         
            </div>
          </div>
          <div class="column">
            <div class="card">
            <h3>DEPRESSION</h3>
            <a href="#" id="dep" class="test"><img src="https://media.gq-magazine.co.uk/photos/5d1390269a22c2b6ef9478f3/4:3/w_1704,h_1278,c_limit/depression-gq-7aug18_istock_b.jpg" alt="Depression"></a>         
            </div>
          </div>
        </div>        
      </div>
      
    </div>

    <div id="myModal4" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <h1>Result</h1>
        <div class="circular-container">
          <div class="circular-progress">
            <div class="value-container">0%</div>
          </div>
        </div>
        <div>
            <h1 id="diagnose"></h1>
            <p id="p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum odit, saepe exercitationem dolores, porro et id error asperiores eius nulla autem impedit sint quae. Laborum voluptas ipsam nam voluptates voluptatum.</p>
        </div>
        
        <button class="agree">Close</button>
      </div>
      
    </div>

      <script src="/static/response.js"></script>
      <script src="/static/diagnose.js"></script>
      <script src="/static/chat.js"></script>
      <script src="/static/modal.js"></script>
      <script src="/static/test.js"></script>
     
    </div>

  </body>
</html>
